.nav-bar {
    position: fixed;
    width:100%;
    margin: 0;
    background-color: rgb(209, 208, 208);
    float: left;
    display:block;
    background-color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;

}
.home{
    position: relative;
    padding-right: 200px;

}
.about {
    position: relative;
    
}
.menu {
    position: relative;
    padding-right: 175px;
    }


    table, th, td{
        font-family:'Limelight', cursive;
        border: 1px solid black; 
        text-align: center;
        margin-left: 800px;
        margin-bottom: 50px;
    }    

 h1 {
        font-family:'Limelight', cursive; 
        text-align: center;
        padding: 75px;
     }
    .photo1{
        position: relative;
        width: 200px;
        margin:20px;
        border: 2px dashed black;
        padding: 20px;

    } 
    .lifeEvent{
        position: relative;
        width: 200px;
        margin:20px;
        border: 2px dashed black;
        padding: 20px
    }
    .baby{
        position: relative;
        width: 200px;
        margin: 20px;
        border: 2px dashed black;
        padding: 20px
    }
    .weddings{
        position: relative;
        width: 200px;
        margin: 20px;
        border: 2px dashed black;
        padding: 20px
    }  
    .senior{
        position: relative;
        width: 200px;
        margin: 20px;
        border: 2px dashed black; 
        padding: 20px
    }
    .family {
        position: relative;
        width: 200px;
        margin: 20px;
        
        border: 2px dashed black;
        padding: 20px
    }
    h3, ul{
        font-family:'Limelight', cursive;
    }

