.nav-bar {
    position: fixed;
    width:100%;
    margin: 10px;
    background-color: rgb(240, 232, 235)

}
.about {
    position: relative;
    left: 315px;
}
.menu {
    position: relative;
    left: 150px;
}

img {
    float: left;
}

.mothers {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(89, 14, 99);
    margin-right: 1%;
    
}
.roses {
    width: 150px;
    height: 150px;
    border: 2px solid red;
    margin-right: 1%;
    
}

.sunflower {
    width: 150px;
    height: 150px;
    border: 2px solid yellow;
    margin-right: 1%;
    
}

