h2 {
    color: darkgreen;
}

h2, h3 {
   font-family: Georgia; 
   text-align: center;
}

p {
    font-size: 25px;
}

a:hover {
    text-decoration: underline; 

}
h4 {
    text-transform: uppercase;
}
